:root {
    --primary-pale-blue: hsl(225, 100%, 94%);
    --primary-bright-blue: hsl(245, 75%, 52%);
    --neutral-pale-blue: hsl(225, 100%, 98%);
    --neutral-desatured-blued: hsl(224, 23%, 55%);
    --neutral-dark-blue: hsl(223, 47%, 23%);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
}